* {
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: rgb(229, 236, 237);
}

button {
    border: none;
    margin: 0;
    padding: 15px;
    background: none;
    border: 3px solid white;
    border-radius: 8px;
    font-size: 16px;
    width: 160px;
    height: 45px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

button:hover {
    background:rgb(239, 196, 77);
    color: rgba(22,125,171,1);
    box-shadow: 0 0 15px darkgray;
}

button:active {
    transform: scale(0.95);
}

#main-window {
    margin: 10vh auto;
    width: 960px;
    height: 640px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(47,191,228);
    background: linear-gradient(0deg, rgba(47,191,228,1) 0%, rgba(22,125,171,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 8px;
}

#sidebar {
    height: 100%;
    width: 320px;
    padding: 3em;
    z-index: 1;
    box-shadow: 0 0 8px darkgray;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#sketch-box {
    height: 100%;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 0 15px darkgray;
}

#tool-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#title {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico';
    color: white;
    font-size: 32px;
}

#color-selector {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
}

.color-option {
    min-width: 32px;
    min-height: 32px;
}

#slider-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#slider-bar {
    width: 100%;
    height: 2em;
    appearance: none;
    background: rgb(241, 241, 241);
    border-radius: 8px;
    transition: 0.5s;
}

#slider-bar:hover {
    filter: brightness(94%);
}

#slider-bar::-webkit-slider-thumb {
    appearance: none;
    background: rgb(239, 196, 77);
    width: 15px;
    height: 2em;
    border-radius: 3px;
}

#slider-bar::-webkit-slider-thumb:active {
    background: rgb(225, 168, 36);
}

#slider-bar::-moz-range-thumb {
    appearance: none;
    background: rgb(248, 134, 40);
    width: 15px;
    height: 2em;
}

#slider-bar::-moz-range-thumb:active {
    background: rgb(232, 112, 6);
}

#dimension-display {
    color: white;
    font-weight: 900;
    font-family: 'Montserrat';
}

#new-grid-button:hover {
    background-color: rgb(234, 97, 97);
    color: white;
}

.enabled {
    background:rgb(239, 196, 77);
    color: rgba(22,125,171,1);
    box-shadow: 0 0 15px darkgray;
}

.grid-box {
    background: white;
}